/* overall site css */

a:link,a:visited {
	color: #3333ff;
}

a:hover {
	color: rgb(113, 142, 255);
}

body,html {
	padding: 0;
	margin: 0;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

#wrap {
	width: 900px;
	margin: 0px auto;
}

#header {
	border-bottom: 1px solid #99c;
	padding: 0 1em 0.2em;
    background-color: rgb(26, 63, 204);
	padding: 5px 5px 0;
}

#header > h1 {
	padding: 0;
	margin: 0;
}

#main {
	margin: 0 0 0 285px;
	padding: 15px;
	border-left: 1px solid #99c;
	min-height: 300px;
}

#main > h2 {
	margin: 0 0 5px 0;
}

#sidebar {
	margin: 0;
	padding: 15px 5px;
	float: left;
	width: 270px;
}

#sidebar>h3 {
	margin: 0 0 5px 0;
}

#sidebar>ul {
	margin: 0 0 15px 0;
	padding: 0 0 0 5px;
	list-style: none;
}

#sidebar>ul li {
	margin: 0;
	padding: 0;
}

#footer {
	clear: both;
	text-align: center;
	border-top: 1px solid #99c;
	font-size: smaller;
	padding: 0;
	margin: 0;
}

.error {
	color: #ff0000;
}

#nav {
	float: left;
}

#nav2 {
	float: right;
}

#nav ul,#nav2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li,#nav2 li {
	display: inline;
	margin: 0 0.15em;
	padding: 0;
}

.std-form fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

#header a {
	padding: 2px 5px;
	color: white;
	text-decoration: none;
}

#header a:hover {
	background-color: white;
	color: black;
}

.std-form ul,
.std-form ol {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
	float: left;
	width: 100%;
}

.std-form input {
	float: left;
}

.std-form li {
	padding: 0;
	margin: 0;
	float: left;
	clear: both;
}

.std-form li label {
	width: 100px;
	float: left;
}

.std-form li.checkbox label {
	width: auto;
}

ul.room-list {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

ul.room-list li {
	margin: 0;
	padding: 4px 5px;
}

ul.room-list li.row1 {
	background-color: rgb(205, 215, 255);
}

ul.room-list li h3 {
	margin: 0;
}

ul.room-list li>p {
	margin: 0;
}

ul.room-list li ul.nav {
	display: none;
	list-style: none;
	float: right;
	margin-top: -20px;
}

ul.room-list li:hover ul.nav {
	display: block;
}

ul.room-list ul.nav li {
	display: inline;
}

#sidebar li.current {
	font-weight: bold;
}