/* overall site css */


a:link, a:visited{
    color: #3333ff;
}

a:hover{
    color:#ffff00;
}

a:active{
    color: #33ff00;
}


body, html{
    background-color: #ccccff;
}

#wrap {
    width:80%;
    margin:0px auto;
    border: 1px solid #99c;
    background-color: #fff;
}

#header {
    height:80px;
}

#main {
    margin-left:30%;
    padding:5px;
}
#sidebar {
    padding:5px;
    float:left;
    width:30%;
}

#footer {
    clear:both;
}
#footer p{
    text-align:center;
}

.error{
    color: #ff0000;
}

#nav{
    float:left;

}
#user{
    float:right;
}

#nav ul, #user ul{
    margin:0;
    padding:0;
    list-style:none;
}

#nav li, #user li{
    display:inline;
    margin:0 0.15em;
    padding:0;
}

