/* overall site css */

body, html{
    color:#000;
    background-color: #cccccc;
}

#wrap {
    width:750px;
    margin:0 auto;
    background-color: #ccccff;
}

#header {
    background-color: #ccccff;
    margin-bottom: 30px;
}
#nav, #user {
    background-color: #ccccff;
}
#nav{
    position:relative;
    float:left;
    left: 5px;
    bottom: 5px;
}
#user{
    position: relative;
    float: right;
    bottom: 5px;
    right: 5px;
}

#nav ul, #user ul{
    margin:0;
    padding:0;
    list-style:none;
}

#nav li, #user li{
    display:inline;
    margin:0 0.15em;
    padding:0;
}

#main {
    background-color: #ccccff;
    float:right;
    width:550px;
    height:400px;
}
#sidebar {
    background-color:#ccccff;
    float:left;
    width:200px;
}
#sidebar ul{
    padding:0;
    margin:15px;
}

#sidebar li{
    font-weight:bold;
    list-style:none;
    border-style:solid;
    border-color:#ddddff;
}

#sidebar li a{
    font-weight:normal;
    border-style:none;
    border-color:#ccccff;
}

#footer {
    background:#ccccff;
    clear:both;
}
#footer p{
    text-align:center;
}

.error{
    color: #ff0000;
}
