/* overall site css

  Let's have some consistent colours:
  #CDD7FF -> row background
  #3333FF -> links
  #718EFF -> hovered links
  
  from JQuery UI:
  light blue ui color: #D8E7F3
  dark blue ui color: #6BA5D0
  light blue border: #A6C9E2
  dark blue border: #4297D7  
*/

a, a:visited {
	color:#3333FF;
}

a:hover {
	color: #718EFF;
	cursor: pointer;
}

body, html {
	padding: 0;
	margin: 0;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

#wrap {
	width: 900px;
	margin: 0.5em auto 2em;
	border-style: solid;
}

#wrap, #header, #main, #sidebar, #footer, #header a {
	border-color: #4297D7;
	border-width:1px;	
}

#header {
	padding: 0 1em 0.2em;
    background-color: #6BA5D0;
	padding: 5px 5px 0;
	background-image: url(/static/css/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png);
	background-position: center;
	border-bottom-style: solid;
}

#header > h1 {
	padding: 0 0.5em;
	margin: 0;
	font-style: italic;
}

#main {
	margin: 0;
	padding: 15px;
	border-left-style: solid;
	min-height: 300px;
	float: left;
	width: 565px;
}

#main > h2, #main > h3 {
	margin: 0 0 0.3em;
}

#main > p {
	margin: 0.3em 0 0.6em;
}

#sidebar {
	border-right-style: solid;
	margin: 0 -1px 0 0;
	padding: 15px 15px 15px 10px;
	float: left;
	width: 270px;
}

#sidebar h3 {
	margin: 0 0 5px 0;
}

#sidebar ul {
	margin: 0 0 15px 0;
	padding: 0 0 0 5px;
	list-style: none;
}

#sidebar ul li {
	margin: 0;
	padding: 0;
}

#sidebar li.separator {
	height: 0.5em;	
}

#footer {
	clear: both;
	text-align: center;
	border-top-style: solid;
	font-size: smaller;
	padding: 0;
	margin: 0;
}

.error {
	color: #FF0000;
}

#nav {
	float: left;
}

#nav2 {
	float: right;
}

#nav, #nav2 {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li, #nav2 li {
	display: inline;
	margin: 0 0.15em;
}

#header a {
	padding: 2px 5px 1px;
	color: white;
	text-decoration: none;
}

#header a:hover {
	color: black;
	background-color: white;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	margin: -1px -1px 0;
}

.std-form fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

.std-form ul,
.std-form ol {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
	float: left;
	width: 100%;
}

.std-form input {
	float: left;
}

.std-form li {
	padding: 0;
	margin: 0;
	float: left;
	clear: both;
}

.std-form li label {
	width: 100px;
	float: left;
}

.std-form li.checkbox label {
	width: auto;
}

ul.room-list {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

ul.room-list li {
	margin: 0;
	padding: 5px;
	width: 100%;
	float: left;
}

ul.room-list img {
	float:left;
	border: none;
	margin: 3px 6px 3px 3px;
}

ul.room-list li.row1 {
	background-color: #CDD7FF;
}

ul.room-list h3 {
	margin: 0;
}

ul.room-list p {
	margin: 0;
}

ul.room-list ul.nav {
	display: none;
	list-style: none;
	float: right;
	margin-top: -1.6em;
	margin-bottom: -100%;
	width: 100%;
}

ul.room-list li:hover ul.nav {
	display: block;
}

ul.room-list ul.nav li {
	width: auto;
	float: right;
}

#sidebar li.current {
	font-weight: bold;
}

img.thumbnail{
	width:150px;
	height:150px;
}

#image-select .image{
	float:left;
	margin:10px;
	border-style:solid;
	border-width:1px;
	border-color:#A6C9E2;
}

#image-select .image:hover {
	cursor:pointer;
	position:relative;
	left:-5px;
	top:-5px;
	border-color:#4297D7;
}

#image-select .image:active {
	position:relative;
	left:3px;
	top:3px;	
	background-color:#D8E7F3;
}

#image-select .image p {
	text-align:center;
}

#username-filter {
	width: 100px;
}

#reservation-filter {
	margin-right: 25px;
}

